<%= form_for @task, url: tasks_path, html: {method: :post} do |f| %>
    <p>タスク作成</p>
    <p>タイトル <%= f.text_field :title %> </p>
    <p>内容 <%= f.text_field :content %> </p>
    <input type="submit" value="送信">
    <a href="/tasks" >一覧画面へ</a>
<% end %>